*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
/*body **/
    
.background-fixe {
   /* background-image: url('../images/fruits-store.jpg');*/
    background-image:linear-gradient(0deg, rgba(54, 18, 5, 0.65),  rgba(54, 18, 5, 0.65)), url('../images/fruits-store.jpg'); 
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
    
}
.container-fluid{
    background-color:olive;
    width: 90px;
    height: 90px;
}
.intro img{
    width: 700px; 
    border: 1px solid ;
    border-radius: 0.25rem;

}
.position-btn{
    margin-bottom: -70px;
    text-align: center;
}
.site{
    color: orange;
    text-transform: uppercase;
    font-size: 20px;
}
.sous-title{
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 50px;

}
.nav-item{
    font-weight: 600;
    text-transform: uppercase;
}
.nav-link{
    color: #ccc !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
    word-spacing: 15px;
}
.sou-title{
    font-size: 15px;
    font-weight: 700;
}
.sous{
    font-weight: 100;
    font-size: 40px;
}
.rounded{
    border-radius: 0.25rem !important;
}
.clearfix .bg-faded{
    width: 450px;
    background-color: #f6e1c5;

}
.cta{
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #808000
}
.cta .cta-inner{
    position: relative;
    padding: 2rem;
    margin: 0.5rem;
}
.para{
    background-color: rgb(204, 198, 193);
    border: 10px double #808000;
    border-radius: 0.25;
}
   .footer{
       background-color:olive;
    padding-bottom: 15px;
   } 
   .m-0{
       margin: 0 !important;
       
   }
   .small{
       font-size: 0.875em;
   }

.int{
    float: left;
    position: relative;
    top: 0;
    margin-top: 100px;
    left: 70px;
 
}
.int .max-auto{
    position: absolute;
    margin-bottom: 40px;
}
.section-heading-lower{
    font-weight: 100;
    font-size: 50px;
}
.section-heading-upper{
    font-weight: 600;
    font-size: 20px;
}
/*about*/

.about-heading-content{
    position: relative;
    bottom: 60px;
    left: 15%;
    background-color: #ccc;
    border-radius: 5px;
    width: 70%;
    
}
.small{
    color: white;
}
.product{
    position: relative;
    bottom: -40px;
    left: 45%;
    background-color: #ccc;
    width: 500px;
    border-radius: 5px;
    
}
.img-fluid{
    width: 900%;
    
    
}
.product-item-description{
    position: relative;
    top: -40px;
    background-color: #ccc;
    width: 500px;
    border-radius: 5px;

}
.auto{
    position: relative;
    bottom: -40px;
    background-color: #ccc;
    width:50% ;
    border-radius: 5px;
}
.title1{
    position: relative;
    bottom: -40px;
    left: 40%;
    background-color: #ccc;
    width: 55%;
    border-radius: 5px;
}
.container-store{
    background-color:#ccc;
    width: 900px;
    padding: 30px;
    margin-left: 150px;
    border: 13px double #808000;
    border-radius: 5px;
}
.img-fluid-store{
    width: 100%;
}
.btn-danger{
    position: relative;
    left: 60px;
    width: 150px;
    height: 60px;

}
.product-item-img{
    width: 700px;
}